PORT=3001
NODE_ENV=test
MONGO_URI=MONGODB_URL
JWT_EXPIRATION_IN_MINUTES=4320
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587

USER_EMAIL=email
BREVO_SMTP_USER=userName
BREVO_SMTP_PASS=pass

JWT_ACCESS_SECRET=000
JWT_REFRESH_SECRET=000
JWT_ACCESS_EXPIRES=5m
JWT_REFRESH_EXPIRES=7d


ADMIN_PASSWOR=userName
ADMIN_USERNAME=pass